# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# Minecraft client/server files
run/

#IntelliJ
bin
PM_TINF19AI2.iml

# MCreator generator ignores
*.project
*.classpath
*.mcreator/workspaceBackups
*.mcreator/gradleCache
*.mcreator/setupInfo

